html
    link(rel="stylesheet", type='text/css', href='/main.css')
    head
        title="Joust!"
    body
        h2="Joust"
        h3="A chess tournament host."
        unless isAuthenticated
            h3
                a(href="/login") Login
        else
            h3
                a(href="/logout") Logout
        h4
            a(href="/create") Create tournament
        p="All tournaments:"
        each val in tournaments
            -const formattedTournament= val.name + " (" + val.entries.length + "/" + val.maxPlayers + ") " + val.startDate
            li
                a(href=`/${val.id}`) #{formattedTournament}

