include ./mixins/entry.pug
include ./mixins/navbar.pug

html
    link(rel="stylesheet", type='text/css', href='/main.css')
    head
        title="Joust!"
    body
        +navbar(isAuthenticated, authedPlayer)
        if isAuthenticated && authedPlayer && authedPlayer.id===player.id
            form(id="update-player" action=`/player/${player.id}` method="post")
                +entry("firstName", "First name", "Magnus", "text", false, player.firstName)
                +entry("lastName", "Last name", "Carlsen", "text", false, player.lastName)
                +entry("uscfProfile", "USCF profile ID", "12345", "text", false, player.uscfProfile)
                +entry("fideProfile", "FIDE profile ID", "54321", "text", false, player.fideProfile)
                +entry("chessComProfile", "Chess.com username", "magnuscarlsen", "text", false, player.chessComProfile)
                +entry("lichessProfile", "Lichess username", "DrNykterstein", "text", false, player.lichessProfile)
                +entry("neutralRating", "Neutral rating", "1500", "number", false, player.neutralRating)
                input(type="submit" value="Update profile")
            form(id="recalibrate-elo" action=`/player/${player.id}/rating` method="post")
                input(type="submit" value="Recalibrate ELO")

        else
            h4=player.firstName + " " + player.lastName
            p="Neutral Rating: " + player.neutralRating
            // USCF conditional
            if player.uscfProfile
                a(href=`https://www.uschess.org/msa/MbrDtlMain.php?${player.uscfProfile}` target="_blank") USCF Profile
                br
                br
            else
                p="No linked USCF profile"

            // FIDE conditional
            if player.fideProfile
                a(href=player.fideProfile target="_blank") FIDE Profile
                br
                br
            else
                p="No linked FIDE profile"

            // Lichess profile
            if player.lichessProfile
                a(href=`https://lichess.org/@/${player.lichessProfile}` target="_blank") Lichess Profile
                br
                br
            else
                p="No linked Lichess profile"


            // Chess.com profile
            if player.chessComProfile
                a(href=`https://chess.com/member/${player.chessComProfile}` target="_blank") Chess.com Profile
                br
            else
                p="No linked Chess.com profile"

        p="Active Tournaments:"
        each entry in player.entries
            li
                a(href=`/${entry.tournament.id}`) #{entry.tournament.name}