include ./mixins/navbar
include ./mixins/entry
html
    link(rel="stylesheet", type='text/css', href='/main.css')
    head
        title=tournament.name
    body
        +navbar(isAuthenticated, authedPlayer)

        h2=tournament.name
        h3=tournament.location
        h4=tournament.description
        p="Starts: " + tournament.startDate
        p="Ends: " + tournament.endDate
        p="Pairing system: " + tournament.pairingSystem
        p="Tiebreak system: " + tournament.tiebreakSystem
        - const playerIsAdmin = isAuthenticated && tournament.admins.map(a => a.playerId).includes(authedPlayer.id)
        if playerIsAdmin
            form(id="pair" action=`${tournament.id}/pair` method="post")
                input(type="submit" value="Pair next round")
            details
                summary Admin danger zone
                form(id="delete" action=`${tournament.id}/delete` method="post")
                    +entry("key", "Type delete to confirm", "delete", "text", true)
                    input(type="submit" value="Delete tournament")
        if isAuthenticated
            - const playerInTournament = tournament.entries.map(e => e.playerId).includes(authedPlayer.id)
            unless playerInTournament
                form(id="register" action=`/register/${tournament.id}` method="post")
                    input(type="submit" value="Register")
            else
                form(id="withdraw" action=`/withdraw/${tournament.id}` method="post")
                    input(type="submit" value="Withdraw")
        each entry in tournament.entries
            -const formattedPlayer = entry.player.lastName + ", " + entry.player.firstName + " (" + entry.player.neutralRating + ")"
            li
                a(href=`/player/${entry.player.id}`) #{formattedPlayer}
