html
    head
        title=tournament.name
    body
        h2
            a(href="/") Joust
        h2=tournament.name
        h3=tournament.location
        h4=tournament.description
        p="Starts: " + tournament.startDate
        p="Ends: " + tournament.endDate
        each entry in tournament.entries
            -const formattedPlayer = entry.player.lastName + ", " + entry.player.firstName + " (" + entry.player.neutralRating + ")"
            li
                a(href=`/player/${entry.player.id}`) #{formattedPlayer}
