mixin entry(id, title, placeholder='',type='text',required=true, value='')
    label(for=id, class=required ? "required" : "") #{title}:
    input(type=type, name=id, id=id, placeholder=placeholder, value=value, required=required)
    br